.md-header, .md-tabs {
  background-color: #00559f;
  }
  
  .md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
      display: block;
      width: 6.2rem;
      height: 1.2rem;
      fill: currentColor;
  }
  
  /*  Icons müssen eine maximale Breite und Höhe von px2em(18px) haben da die Icons als TTF interpretiert werden
      TODTO chance 1em to px2em(18px) */
  .md-typeset span.twemoji svg {
      max-width: 1em;
      max-height: 1em;
      fill: currentColor;
  }
  
  /* Standard Formatierung von Bildern und Screenshots. */
  img {
      border: 5px solid #00559f;
      border: 5px solid hsla(207deg, 90%, 54%, 1);
      border-radius: 2px;
      padding: 5px;
      margin-right: 5px;
  }
  
  /* Einige Grafiken werden als Icon verwendet mit dieser Class werde sie auf max. 25px reduziert. Die Class wird außerhalb eines Textes verwendet. */
  .img_button {
    height: 25px !important;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    margin-right: 0px;
  }
  /* Einige Grafiken werden als Icon verwendet mit dieser Class werde sie auf max. 1em reduziert. Die Class wird innerhalb eines Textes verwendet. */
  .img_button_text {
    height: 1em !important;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    margin-right: 0px;
  }
  
  /* Einige Grafiken werden nebeneinander verwendet und sollten die gleiche höhe haben. */
  .max_height_200px {
    max-height: 200px !important;
    height: 200px !important;
  }
  
  /* Test classen für eine Lupe innerhalb einer Grafik. Hierzu gibt es noch javascript siehe extra.js
  /* Image magnifier glass START*/
    * {box-sizing: border-box;}
  
    .img-magnifier-container {
      position: relative;
    }
  
    .img-magnifier-glass {
      position: absolute;
      border: 3px solid #00559f;
      border-radius: 5px;
      cursor: none;
      /*Set the size of the magnifier glass: */
      width: 300px;
      height: 100px;
    }
  /* Image magnifier glass ENDE*/

#indexButton{
 margin: 5px; 
 
}

/* Version Button Start  */
.versionbtn {
 background-color: #00559f;
 color: white;
 padding: 12px;
 font-size: 12px;
 border: none;
 cursor: pointer;
 position:relative;
 display:none;
 z-index: 1;
}

.versionbtn:hover, .versionbtn:focus {
 background-color: #0078e0;
}


.versionDropdownDiv {
  margin-bottom: 20px;
  display: inline-block;  
  position: sticky;
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px	

}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content  button:hover {background-color: #ddd;}

.show {display: block;}

/* Version Button Ende*/

.md-nav{

display:none;

}

.md-nav__item{
  display:none;
}

.md.nav--primary{
padding: 2rem 0 ; 
display:block;
}


/* Start Accounce Header */

.lan_iconsDiv{
float: right;

}

.lan_icon{
 float:right;
 height: 14px; 
 width: 20px;
 display: inline-block;
 vertical-align: top; 
 margin: 0.5rem 10px;
 
}


.md-announce{
 overflow: auto;
 background-color: var(--md-footer-bg-color);
}

.md-announce__inner{
padding: 0 .8rem;
color: var(--md-footer-fg-color);
font-size: .7rem;
margin: 0.0rem auto;
}

.md-grid{
max-width: 61rem;
margin-right: auto;
margin-left: auto;

}

.md-tabs{
background-color: #00559f;
display: none;
}

.md-tabs__list{
  margin: 0;
    margin-left: 0px;
margin-left: .2rem;
padding: 0;
white-space: nowrap;
list-style: none;
contain: none;
}

.buttonDropDown{
  position: absolute;
}

/* tab Dropdown Start*/
.tabDropdown {
  display: none;
  margin-top : 10px;
  background-color: #00559f;
  position: absolute;
  padding-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;

}

.tabDropdown li{
  font-size: 0.7rem;
  color: #ddd;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;  
}

.tabDropdown li:hover{
  color: #ffffff;
}

/* tab Dropdown End*/

/*Search Start*/
.md-search-result__list{
margin: 0;
padding: 0;
list-style: none;

}

.md-search-result__item{
  box-shadow: none;
  display: none;
}
.md-search-result__meta{
  display: none;
}

/*Search End*/




